{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Password Change Done</title>{% endblock title %}

{% block carousel %}{% endblock carousel %}

{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3" id="profile-style">
            <h2 class="text-center text-body">Your Password hase been reset successfully!!!</h2>
            <hr class="my-3">
            
            <div class="main-box d-flex justify-content-between">
                <div>
                    <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="250" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
    
                <div>
                    <a href="{% url 'profile' %}" class="btn btn-primary">Back to profile</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main-content %}