{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Product page</title>{% endblock title %}

{% block main-content %}
    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-12">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Our Products</h1>
                        <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                    </div>
                </div>

                <div class="col-lg-12 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-1">মধু</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-2">খাঁটি সরিষার তেল </a>
                        </li>
                        <li class="nav-item me-0">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-3">খাঁটি গাওয়া ঘি</a>
                        </li>
                        <li class="nav-item me-0">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-4">বাদাম ও মসলাপাতি</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">

                        {% for hn in honey %}

                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{{hn.productImg.url}}" alt="honey">
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                </div>
                                
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" href="">{{hn.title}}</a>
                                    <span class="text-primary me-1">{{hn.sellingprice}} TK</span>
                                    <span class="text-body text-decoration-line-through">{{hn.discountedprice}}TK</span>
                                    <span class="text-primary me-1">পরিমাণ {{hn.quantity}}</span>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                        <a class="text-body" href="{% url 'product_detail' hn.id %}"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                    </small>

                                    <small class="w-50 text-center py-2">
                                        <form action="/add_to_cart/">
                                            
                                        <input type="hidden" name="prod_id" value="{{hn.id}}">
                                        <button class="text-body btn btn-sm"  type="submit"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</button>
                                        </form>
                                    </small>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}

                    </div>
                </div>

                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">

                        {% for ol in oil %}

                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ol.productImg.url}}" alt="honey">
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                </div>
                                
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" href="">{{ol.title}}</a>
                                    <span class="text-primary me-1">{{ol.sellingprice}} TK</span>
                                    <span class="text-body text-decoration-line-through">{{ol.discountedprice}}TK</span>
                                    <span class="text-primary me-1">পরিমাণ {{ol.quantity}}</span>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                        <a class="text-body" href="{% url 'product_detail' ol.id %}"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                    </small>
                                    <small class="w-50 text-center py-2">
                                        <form action="/add_to_cart/">
                                            
                                        <input type="hidden" name="prod_id" value="{{ol.id}}">
                                        <button class="text-body btn btn-sm"  type="submit"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</button>
                                        </form>
                                    </small>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>

                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">

                        {% for gh in ghee %}

                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{{gh.productImg.url}}" alt="honey">
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                </div>
                                
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" href="">{{gh.title}}</a>
                                    <span class="text-primary me-1">{{gh.sellingprice}} TK</span>
                                    <span class="text-body text-decoration-line-through">{{gh.discountedprice}}TK</span>
                                    <span class="text-primary me-1">পরিমাণ {{gh.quantity}}</span>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                        <a class="text-body" href="{% url 'product_detail' gh.id %}"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                    </small>
                                    <small class="w-50 text-center py-2">
                                        <form action="/add_to_cart/">
                                            
                                        <input type="hidden" name="prod_id" value="{{gh.id}}">
                                        <button class="text-body btn btn-sm"  type="submit"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</button>
                                        </form>
                                    </small>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>

                <div id="tab-4" class="tab-pane fade show p-0">
                    <div class="row g-4">

                        {% for gh in ghee %}

                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{{gh.productImg.url}}" alt="honey">
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                </div>
                                
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" href="">{{gh.title}}</a>
                                    <span class="text-primary me-1">{{gh.sellingprice}} TK</span>
                                    <span class="text-body text-decoration-line-through">{{gh.discountedprice}}TK</span>
                                    <span class="text-primary me-1">পরিমাণ {{gh.quantity}}</span>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                        <a class="text-body" href="{% url 'product_detail' gh.id %}"><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                    </small>
                                    <small class="w-50 text-center py-2">
                                        <form action="/add_to_cart/">
                                            
                                        <input type="hidden" name="prod_id" value="{{gh.id}}">
                                        <button class="text-body btn btn-sm"  type="submit"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</button>
                                        </form>
                                    </small>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Product End -->


    <!-- Firm Visit Start -->
    <div class="container-fluid bg-primary bg-icon mt-5 py-6">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-5 text-white mb-3">Visit Our Firm</h1>
                    <p class="text-white mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.</p>
                </div>
                <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="">Visit Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Firm Visit End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-light bg-icon py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Customer Review</h1>
                <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock main-content %}